{% extends 'base.html' %}

{% block content %}
<div class="form-block profile-block">
    <div class="profile">
        <form method="post" enctype="multipart/form-data">
            <h1>Ваш профиль:</h1>
            {% csrf_token %}

            {% if user.photo %}
            <div class="form-image">
                <img src="{{ user.photo.url }}">
            </div>
            {% else %}
            <div class="form-image">
                <img src="{{ default_image }}">
            </div>
            {% endif %}

            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="button">
                <button type="submit">Сохранить</button>
            </div>

            <hr>
            <a href="{% url 'users:password_change' %}">Сменить пароль</a>
        </form>
    </div>
</div>
{% endblock %}
